<%-include('partials/header');-%> 
<h1>Home</h1>
<p><%=homeStartingContent %></p>
<% compose_data.forEach(function(data){ %> 
  <h3><%= data.title %></h3>
  <p><%= data.content.substring(0,100) + "....." %>
    <a href="posts/<%=data.title%>">Readmore</a>
  </p>
<% }) %>
<%-include('partials/footer');-%>
<a href=""></a>